.slide-box
  border-bottom: 2px solid $accent
  background-size: 100% 200%
  background-image: linear-gradient(to bottom, $dark 50%, $accent 50%)
  transition: background-position 0.5s
  &:hover
    background-position: 0 100%
