.gallery img {
  width: 50%;
  float: left; }

.selector {
  background: #1F1F1F;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .selector .selection {
    text-align: center;
    color: white;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 15px; }
    .selector .selection:hover {
      color: white;
      cursor: pointer; }
  .selector .active {
    color: #00a388; }

.slide-box {
  border-bottom: 2px solid #00a388;
  background-size: 100% 200%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1F1F1F), color-stop(50%, #00a388));
  background-image: -webkit-linear-gradient(top, #1F1F1F 50%, #00a388 50%);
  background-image: -o-linear-gradient(top, #1F1F1F 50%, #00a388 50%);
  background-image: linear-gradient(to bottom, #1F1F1F 50%, #00a388 50%);
  -webkit-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  transition: background-position 0.5s; }
  .slide-box:hover {
    background-position: 0 100%; }

.entry {
  border-left: 5px solid #00a388;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.cv-title {
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
  display: inline-block; }

.cv-place {
  color: #00a388;
  margin: 0;
  display: inline-block; }

.cv-time {
  margin-top: 5px;
  font-size: 15px;
  color: darkgray; }

.cv-bar-100 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #00a388), color-stop(0%, darkgray));
  background-image: -webkit-linear-gradient(left, #00a388 100%, darkgray 0%);
  background-image: -o-linear-gradient(left, #00a388 100%, darkgray 0%);
  background-image: linear-gradient(to right, #00a388 100%, darkgray 0%); }

.proj-title {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block; }
  .proj-title::after {
    content: '';
    background-image: url(../img/icons/github.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.proj-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .proj-img:hover {
    -webkit-filter: sepia(0.5);
    filter: sepia(0.5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.btn {
  width: 80%;
  margin: auto;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-top: 10px; }

em {
  color: #00a388; }

html {
  overflow-y: scroll; }

body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-family: sans-serif;
  background: #eee; }

::-moz-selection {
  color: white;
  background: #FF5C77; }

::selection {
  color: white;
  background: #FF5C77; }

.name-sig-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 50px; }

.name-sig {
  display: inline-block;
  max-width: 60%;
  width: 350px; }

.content-wrapper {
  width: 950px;
  max-width: 90%;
  margin: auto;
  margin-top: 50px; }
  .content-wrapper .personal, .content-wrapper .details-about, .content-wrapper .details-gallery {
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2); }
  .content-wrapper .personal {
    float: left;
    width: 35%;
    background: gray;
    margin-right: 20px; }
    @media screen and (max-width: 700px) {
      .content-wrapper .personal {
        width: 100%;
        margin-bottom: 20px; } }
    .content-wrapper .personal img {
      width: 100%;
      margin-bottom: -5px; }
    .content-wrapper .personal .nav-items a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 10px; }
    .content-wrapper .personal .links-wrapper {
      background: white;
      padding: 20px;
      text-align: center; }
      .content-wrapper .personal .links-wrapper a {
        display: inline-block;
        width: 40px;
        margin: 5px; }
  .content-wrapper .details {
    overflow: auto;
    background: white;
    padding: 20px; }
    .content-wrapper .details h1 {
      color: darkgray;
      font-size: 18px;
      display: inline-block;
      margin-bottom: 5px;
      padding-bottom: 5px;
      padding-right: 30%;
      border-bottom: 1px solid darkgray; }
