/*font-family: 'Quicksand', sans-serif;*/

body{
  background-color: #E4DDD1;
  padding: 0;
  margin: 0;
}

.headerWrapper{
  background-image: url("../images/highlight.png");
  width: 100%;
  height: 200px;
  margin: 0;
}

h1{
  color: #75BFB9;
  font-size: 50px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
}

header{
  color: #75BFB9;
  font-size: 70px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

img.portrait{
  width: 250px;
  margin: auto;
  display: block;
  border-radius: 500px;
  margin-top: -125px;
}

img.icon{
  position: relative;
  width: 50px;
  display: block;
  margin:auto;
  bottom: 0px;
}

ul.links{
  margin:200px 0;
  padding:0px;
  display:block;
  width:100%;
  list-style-type:none;
  overflow:hidden;
  text-align: center;
}

ul.links li{
    display:inline-block;
    margin:0px auto 0px auto;
}

ul.links li a {
	display:inline-block;
	margin:0px 10px;
	padding: 0;

  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;

  vertical-align: middle;
}

.blob{

}
