@import 'variables';
@import 'ui';
@import 'sections';
// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;

.banner-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    background-color: $black;
    height: 60px;
    @media screen and (min-width: $desktop-bp) {
            height: 140px;
    };
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
        color: $white;
        // font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 2em;
        @media screen and (min-width: $desktop-bp) {
            font-size: 2.5em;
        };
    }
}