.no-select
    user-select: none

.body-wrapper
    width: 90%
    max-width: 1000px
    margin: auto
    margin-bottom: 100px

.shadow
    box-shadow: 0 0 20px 0 rgba(black, 0.1)

.section
    margin: auto
    clear: both
    padding-top: 50px
    .title
        text-align: center
        margin-bottom: 10px

em
    font-weight: bold
    font-style: normal
    color: $accent
