.projects-wrapper
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    float: left

.project-item
    margin: 10px
    display: flex
    flex-direction: column
    width: 100%
    max-width: 400px
    @extend .shadow
    &:hover
        cursor: pointer
        img
            transform: scale(1.2)
    &:active
        .caption
            background-color: $accent
            color: $light

    .image
        overflow: hidden
        max-height: 400px
        img
              transition: ease 0.5s
    .caption
        text-align: center
        padding: 15px
        background-color: $light
        color: $dark
        transition: 0.25s ease

.project-name
    font-weight: bold
    margin-bottom: 10px
