$break: 768px

.projects
    padding-top: 60px

.projects-deck
    padding-top: 50px

    .project-card
        @extend .hover-clickable
        display: flex
        height: 300px
        margin-bottom: 50px
        flex-direction: row
        @media screen and (max-width: $break)
            flex-direction: column
            height: 500px

        .preview, .details
            flex-basis: 50%

        .preview
            overflow: hidden
            @media screen and (max-width: $break)
                flex-basis: 60%

            img
                min-width: 100%
                min-height: 100%
                width: auto
                height: auto

        .details
            background: $white
            padding: 40px
            @media screen and (max-width: $break)
                flex-basis: 40%
