$dark: #1C1F33
$light: #FCFFFC
$gray: #eee
$accent: #00a388
$dark-accent: #068c76

*
    box-sizing: border-box
    padding: 0
    margin: 0

html, body
    background: $gray
    font-family: sans-serif
    color: $dark

body
    width: 100%

@import "common"
@import "ribbon"
@import "spotlight"
@import "about"
@import "projects"
