* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  background: #eee;
  font-family: sans-serif;
  color: #1C1F33; }

body {
  width: 100%; }

.font-title {
  font-family: 'Comfortaa', cursive; }

.font-body, a.button {
  font-family: 'Nunito', sans-serif; }

.no-select, a.button, .ribbon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  max-width: 1160px;
  padding: 0 8%;
  margin: auto; }

.position-relative {
  position: relative; }

.shadow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }

.highlight-box {
  background: #eee;
  padding: 10px;
  text-align: center;
  margin: 20px 0 20px; }

.hover-clickable, a.button, .projects-deck .project-card {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
  .hover-clickable:hover, a.button:hover, .projects-deck .project-card:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 5px 20px 0 #cccccc;
    box-shadow: 0 5px 20px 0 #cccccc; }

a.button {
  text-decoration: none;
  background: #1C1F33;
  color: #ffffff;
  padding: 10px;
  font-weight: bold; }
  a.button:not(:last-child) {
    margin-right: 10px; }

h1, h2, h3, h4 {
  font-family: 'Comfortaa', sans-serif; }

h1 {
  margin-bottom: 40px; }

h2 {
  margin-bottom: 20px; }

h3 {
  margin-bottom: 10px; }

p {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em; }

em {
  font-weight: bold;
  font-style: normal;
  color: #00a388; }

.ribbon {
  width: 100%;
  background: #00a388; }
  .ribbon .name {
    background: #1C1F33;
    color: #FCFFFC;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    margin-left: 10%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    position: relative;
    z-index: 100; }

.projects {
  padding-top: 60px; }

.projects-deck {
  padding-top: 50px; }
  .projects-deck .project-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    margin-bottom: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media screen and (max-width: 768px) {
      .projects-deck .project-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 500px; } }
    .projects-deck .project-card .preview, .projects-deck .project-card .details {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .projects-deck .project-card .preview {
      overflow: hidden; }
      @media screen and (max-width: 768px) {
        .projects-deck .project-card .preview {
          -ms-flex-preferred-size: 60%;
          flex-basis: 60%; } }
      .projects-deck .project-card .preview img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto; }
    .projects-deck .project-card .details {
      background: #ffffff;
      padding: 40px; }
      @media screen and (max-width: 768px) {
        .projects-deck .project-card .details {
          -ms-flex-preferred-size: 40%;
          flex-basis: 40%; } }

.footer {
  background: #1C1F33;
  width: 100%;
  height: 30px;
  margin-top: 20px; }

.intro {
  background: #ffffff;
  padding: 80px 0 40px; }
  .intro .contact {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .intro .down-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #00a388;
    border-top: none;
    border-left: none;
    -webkit-transform: translateX(-20px) rotate(45deg);
    -ms-transform: translateX(-20px) rotate(45deg);
    transform: translateX(-20px) rotate(45deg); }
