<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    
    <link rel='shortcut icon' href='img/favicon.png'>

    <link href='https://fonts.googleapis.com/css?family=Roboto|Scope+One&display=swap' rel='stylesheet'>

    <link rel='stylesheet' type='text/css' href='css/app.css'>
    <title>Omar Alashqar</title>
  </head>

  <body>
    {{> layout }}
  </body>
</html>
