---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Omar Alashqar" description="Omar Alashqar's Personal Page">
  <Card
    name="Omar Alashqar"
    resumeLink="/resume.pdf"
    profileImage="/images/profile.jpg"
    email="omar.alashqar@uwaterloo.ca"
    linkedin="https://www.linkedin.com/in/omaralashqar/"
    github="https://github.com/OmarAlashqar"
    dribbble="https://dribbble.com/omaralashqar"
    goodreads="https://www.goodreads.com/omaralashqar"
    letterboxd="https://letterboxd.com/plastic_straw"
  >
    <p>
      Besides getting paid to think a lot and build software, I like to dabble
      in game development and competitive programming.
      <br />
      <br />
      When I'm not on my laptop, I enjoy long distance running and biking around
      fun cities, and some quality books and movies. If you've got a recommendation,
      shoot me an email!
    </p>
  </Card>
</BaseLayout>
