---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Omar Alashqar" description="Omar Alashqar's Personal Page">
	<Card
		name="Omar Alashqar"
		position="Software Engineer"
		resumeLink="/resume.pdf"
		profileImage="/images/profile-bw-min.jpg"
		email="omar.alashqar@uwaterloo.ca"
		linkedin="https://www.linkedin.com/in/omaralashqar/"
		github="https://github.com/OmarAlashqar"
		dribbble="https://dribbble.com/omaralashqar"
		goodreads="https://www.goodreads.com/omaralashqar"
		letterboxd="https://letterboxd.com/plastic_straw"
	>
		<p>
			I'm a quick learner with experience in <strong
				>distributed systems</strong
			>, <strong>cloud infrastructure</strong>, and all manner of <strong
				>software engineering</strong
			>. I like a good challenge, and love the satisfaction of tackling
			tough problems.
		</p>
		<br />
		<p>
			I'm also into embedded systems and game development on the side. In
			my free time, you'll find me reading some sci-fi, biking around, or
			going through my movie backlog.
		</p>
	</Card>
</BaseLayout>
