@import '../../_variables';

$name-offset: 60px;

.header {
  width: 100%;
  min-height: 50vh;
  background-color: tomato;
  display: flex;
  flex-direction: row;
}

.header-left {
  background-color: white;
  background-image: url('/assets/bg/funky-lines.png');
  box-shadow: inset -50px 0 100px -60px $black;
  flex-grow: 4;
}

.header-right {
  background-color: $black;
  flex-grow: 6;
  position: relative;
  padding-bottom: $name-offset + 20px;
}

.header-name {
  background-color: #fc76b4;
  display: block;
  position: relative;
  top: $name-offset;
  left: -40px;
  width: 100px;
  
  h1 {
    transform: translate(20px, -40px);
    font-size: 3em;
    color: white;
  }
}

.header-deco {
  position: absolute;
  bottom: 10px;
  left: -40px;
  outline: dashed #fc76b4;
  width: 80%;
  height: 0;
}

.header-link-wrapper {
  position: relative;
  left: 80px;
  top: -20px;
}

.header-link {
  @include a-btn;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
}