<div class='greeting'>
  <h2 class='greeting-title'>Hi, I'm Omar Alashqar</h2>
  
  <div class='greeting-blurb'>
    I'm passionate about software and design.<br/>
    <br/>
    I have extensive experience working <b>full-stack</b> on web projects, and I'm <b>back-end</b> oriented.<br/>
    <br/>
    I've also worked with data <b>batch/steam processing</b> with Apache Beam to analyze time-series data. I'm a quick learner, so I thrive on exploring new technologies.<br/>
    <br/>
    I love working with talented teams and I'm always looking for ways to expand my skill-set. Currently, I'm looking for a four month co-op internship for <b>January - April, 2020</b>.<br/>
    <br/>
    Please contact me if you have any questions or opportunities!
  </div>

  <nav class='greeting-nav'>
    <a class='btn' href="mailto:oaaalash@uwaterloo.ca">Contact me</a>
    <a href='{{ url.github }}' target='blank'>{{> github }}</a>
    <a href='{{ url.linkedin }}' target='blank'>{{> linkedin }}</a>
    <a href='{{ url.resume }}' target='blank'>{{> resume }}</a>
  </nav>
</div>