<div class='greeting'>
  <h2 class='greeting-title'>Hi, I'm Omar Alashqar</h2>
  
  <div class='greeting-blurb'>
    I'm interested in opportunities that can bring you value. Let me introduce myself.<br/>
    <br/>
    I have experience working on <b>full-stack</b> software and <b>data engineering</b> projects. You'll find that I'm a quick learner and tend to keep up with new tech as I'm passionate about software and design. Not to mention, I love mystery novels, all kinds of movies, and music!<br/>
    <br/>
    I've had the pleasure of working with talented teams and I'm always looking for new opportunities. Currently, I'm looking for a four month co-op internship for <b>September - December, 2020</b>.<br/>
  </div>

  <nav class='greeting-nav'>
    <a class='btn' href="mailto:oaaalash@uwaterloo.ca">Contact me</a>
    <a href='{{ url.github }}' target='blank'>{{> github }}</a>
    <a href='{{ url.linkedin }}' target='blank'>{{> linkedin }}</a>
    <a href='{{ url.resume }}' target='blank'>{{> resume }}</a>
  </nav>
</div>