<div class='greeting'>
  <h2 class='greeting-title'>Hi, I'm Omar Alashqar</h2>
  
  <div class='greeting-blurb'>
    I'm passionate about software and design.<br>
    <br>
    I'm an experienced Full-Stack Developer and I've worked with data batch/stream processing. I love exploring new technologies and working with a team of talented people.<br>
    <br>
    Currently, I'm looking for a four month internship between January to April, 2020.
  </div>

  <nav class='greeting-nav'>
    <a href='{{ url.github }}' target='blank'>{{> github }}</a>
    <a href='{{ url.linkedin }}' target='blank'>{{> linkedin }}</a>
    <a href='{{ url.resume }}' target='blank'>{{> resume }}</a>
  </nav>
</div>