html, body {
  background-color: snow;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

b {
  font-weight: bold;
}

a.btn {
  text-decoration: none;
  padding: 10px;
  color: snow;
  border: 2px solid darkslateblue;
  background-color: black;
  border-radius: 16px;

  transition: background-color 0.25s ease;
  &:hover {
    background-color: darkslateblue;
  }
}